.container{
      display: flex;
      justify-content: center;
      align-items: center;
      padding:25px;
      min-height: 100vh;
}

.container form{
  padding:20px;
  width:700px;
  background: #fff;

}

.container form .row{
      display: flex;
      flex-wrap: wrap;
      gap:15px;
      justify-content: center;
}

.container form .row .col .title{
      font-size: 20px;
      color:#333;
      padding-bottom: 5px;
      text-transform: uppercase;
}

.container form .row .col .inputBox{
      margin:15px 0;
}

.container form .row .col .inputBox span{
      margin-bottom: 10px;
      display: block;
}

.container form .row .col .inputBox input{
        width: 100%;
       border:1px solid #ccc;
       padding:10px 15px;
      font-size: 15px;
      text-transform: none;
}

.container form .row .col .inputBox input:focus{
   border:1px solid #000;
}

.container form .row .col .flex{
  display: flex;
  gap: 15px;
}

.container form .row .col .flex .inputBox{
   margin-top: 5px;
}

.container form .row .col .inputBox img{
      height: 34px;
      margin-top: 5px;
}

.container form .submit-btn{
  width: 70%;
  padding:12px;
  font-size: 17px;
  background: #241f80;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.check_order{
  width: 31vw;
  height: 7vh;
  margin: 0 auto;
  text-align: center;
}

.check_order a:hover{
    background-color: #fbaa27;
    color: #ffffff;
    transition: 0.8s ease-in-out;
  }


.check_order a {
  font-size: 1.5em;
  text-decoration: none;
  color: #000000;
}
