* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    position: relative;
}

/* **** Main ****/
.marg{
    margin: 0px 60px;
}

.hero {
    display: flex; 
  justify-content: center;
}

.slider {
    position: relative;
    width: 90vw;
}

.slider img {
    width: 100%;
}

.slider .title {
    margin-left: 50px;
    position: absolute;
    top: 30%; 
    color: #ffffff;
    font-size: 2em;
}

.slider-btn{
    width: 15vw;
    height: 10vh;
    font-size: 0.5em;
    font-family: 'DM Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: #ffffff;
    background-color: transparent;
    border-radius: 3px;
    border: 1.5px solid #ffffff;
    cursor: pointer;
}

.slider-btn:hover {
    background-color: #ffffff;
    color: #717171;
    transition: 0.5s ease-in-out;
}

/***Middle Separator ***/

.middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 3.5em;
}

.middle p{
    font-size: 1.3em;
    font-weight: 600;
}

.middle a{
    text-decoration: none;
    color: #A18A68;
}


/***Cards****/

.card {
    width : 26%;
}
.card p {
    margin-top: -10px;
    color: #A18A68 ;
}

.card span {
    display: none;
    
    /* left: 30%; */
}
.grid-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
}
.card:hover span {
    display: block;
}

.imagebutton {
    position: relative; 
}

.imagebutton  a {
    position: absolute;
    top: 80%;
    background: #dcdada;
    width: 99%;
    height: 10vh;
    color: #000000;
    font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
    text-decoration: none;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.about {
    padding-top: 80px;
    width: 90vw;
    margin: auto;
}

.about img {
    width: 98%;
    height: 500px ;
}
.about .about_title {
    text-align: center;
}
